In [3]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
df_stats = pd.read_csv('County Stats.csv')
df_coords = pd.read_csv('coords.csv')

df_stats['County'] = df_stats['County'].astype(str) + ", NY"
pct_pos = df_stats["Positive"]= (df_stats["New_Positives"] / df_stats["New_Tests"] * 100)

df_coords.head()

,County,co-ordinates,latitude,longitude,geometry
0,"Albany, NY","(42.65172576904297, -73.75509643554688)",42.588240,-73.974009,POINT (-73.75509643554688 42.65172576904297)
1,"Allegany, NY","(42.08806228637695, -78.49125671386719)",42.247853,-78.026153,POINT (-78.49125671386719 42.08806228637695)
2,"Bronx, NY","(40.82615280151367, -73.9202651977539)",40.848711,-73.852939,POINT (-73.92026519775391 40.82615280151367)
3,"Broome, NY","(42.52092361450195, -74.30384826660156)",42.161977,-75.830283,POINT (-74.30384826660156 42.52092361450195)
4,"Cattaraugus, NY","(42.32959747314453, -78.86852264404297)",42.239099,-78.662332,POINT (-78.86852264404297 42.32959747314453)

In [4]:
merge = pd.merge(df_stats, df_coords, left_on='County', right_on='County')

merge

,County,New_Positives,All_Positives,New_Tests,All_Tests,Positive,co-ordinates,latitude,longitude,geometry
0,"Albany, NY",208,8613,3191,301789,6.518333,"(42.65172576904297, -73.75509643554688)",42.588240,-73.974009,POINT (-73.75509643554688 42.65172576904297)
1,"Allegany, NY",17,1468,240,45868,7.083333,"(42.08806228637695, -78.49125671386719)",42.247853,-78.026153,POINT (-78.49125671386719 42.08806228637695)
2,"Bronx, NY",675,73685,14431,1491456,4.677431,"(40.82615280151367, -73.9202651977539)",40.848711,-73.852939,POINT (-73.92026519775391 40.82615280151367)
3,"Broome, NY",72,6764,2080,254122,3.461538,"(42.52092361450195, -74.30384826660156)",42.161977,-75.830283,POINT (-74.30384826660156 42.52092361450195)
4,"Cattaraugus, NY",37,1905,704,70858,5.255682,"(42.32959747314453, -78.86852264404297)",42.239099,-78.662332,POINT (-78.86852264404297 42.32959747314453)
...,...,...,...,...,...,...,...,...,...,...
57,"Washington, NY",13,619,367,51622,3.542234,"(41.78553771972656, -73.69046020507812)",43.312377,-73.439428,POINT (-73.69046020507812 41.78553771972656)
58,"Wayne, NY",58,1848,760,86857,7.631579,"(42.4705810546875, -77.10536193847656)",43.458758,-77.063164,POINT (-77.10536193847656 42.4705810546875)
59,"Westchester, NY",571,61111,9593,1277979,5.952257,"(40.840030670166016, -73.84453582763672)",41.152686,-73.745753,POINT (-73.84453582763672 40.84003067016602)
60,"Wyoming, NY",35,974,355,37879,9.859155,"(42.8284797668457, -78.08788299560547)",42.701363,-78.228567,POINT (-78.08788299560547 42.8284797668457)
61,"Yates, NY",8,386,104,18616,7.692308,"(43.321258544921875, -78.38877868652344)",42.638237,-77.104324,POINT (-78.38877868652344 43.32125854492188)